* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: auto;
    width: 95vw;
    background-color: #eea990;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    text-align: center;
    margin-right: 10px;
    padding: 5px;
    font-size: 22px;
    letter-spacing: 3px;
    background-color: #f6e0b5;
    border: 5px solid #dbc1ac;
    border-style: outset;
    max-height: 50px;
}

.navbar a + a {
    margin-left: 50px;
}

.navbar a {
    padding: 5px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #b38b67;
    font-weight: bold;
}

.navbar a:hover {
    color: white;
}

.page-title {
    position: relative;
    padding-left: 30px;
    padding-top: 4%;
    font-size: 50px;
    color: #f6e0b5;
    letter-spacing: 1px;
}

.list-items a {
    text-decoration: none;
    color: white;
    font-weight: light;
}

.list-items li {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.list-items a:hover {
    color: #f6e0b5;
    font-weight: bold;
}


h2 {
    position: relative;
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 65px;
    font-weight: bolder;
    background: #CFA393;
    background: #ADCF97;
    background: #CFB6B6;
    background: #CFB6B6;
    background: #CF8282;
    background: #CFA4A4;
    background: #CFA4A4;
    background: #CFA4A4;
    background: linear-gradient(to right, #CFA4A4 0%, #400E05 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar {
    width: 160px;
    margin-top: 2%;
    background-color: #aa6f73;
    position: fixed;
    border-style: double;
}

p {
    font-size: 20px;
}

pre {
    font-size: 16px;
}

.image-only {
    background-size: contain; 
    background-position: center; 
}

 img {
    max-width: 90%;
    max-height: 100%;
    border: 2px solid #f6e0b5;
}

.column {
    position: relative;
    bottom: 40px;

}

.try-button {
    display: flex;
    position: relative;
    bottom: 10px;
    border: 5px solid #dabaa1;
    border-style: outset;
    border-radius: 15px;
    margin: 3px 3px;
    padding: 10px;
    background-color: #eea990;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.try-button a {
    text-decoration: none;
    color: white;
}

.try-button:hover {
    background-color: #7885a0;
}


#google-form {
    display: flex;
    justify-content: center;
}

.quiz-button {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    border: 5px solid #dabaa1;
    border-style: outset;
    border-radius: 15px;
    margin: 3px 3px;
    padding: 10px;
    background-color: #eea990;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.quiz-button a {
    text-decoration: none;
}

.quiz-button:hover {
    background-color: #8eaff7;
    color: white;
}

footer {
    text-align: center;
    padding-top: 15px;
}


@media screen and (min-width: 551px) and (max-width: 1076px) {
    .sidebar {
        width: 120px;
        margin-right: 10px;
    }
    .columns-container {
        display: flex;
        flex-direction: column;
        justify-items: flex-end;
        height: 100vh;
    }
    .intro p {
        position: relative;
        top: 12%;
        line-height: 1.5;
    }
    h2 {
        text-align: right;
        letter-spacing: 2px;
        font-size: 40px;
        font-weight: bolder;
        background: #CFA393;
        background: #ADCF97;
        background: #CFB6B6;
        background: #CFB6B6;
        background: #CF8282;
        background: #CFA4A4;
        background: #CFA4A4;
        background: #CFA4A4;
        background: linear-gradient(to right, #CFA4A4 0%, #400E05 85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .rawcode p, pre {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        margin-right: 1px;
        padding: 3px;
        font-size: 12px;
        letter-spacing: 1px;
        background-color: #f6e0b5;
        border: 5px solid #dbc1ac;
        border-style: outset;
    }
    .columns-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 95vh;
        width: 55vw;
    }
    footer {
        letter-spacing: 0px;
        font-size: 15px;
    }
    p, pre {
        font-size: 13px;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
        border: 2px solid #f6e0b5;
    }
    .list-items li {
        padding-bottom: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    h2 {
        text-align: right;
        letter-spacing: 2px;
        font-size: 25px;
        font-weight: bolder;
        background: #CFA393;
        background: #ADCF97;
        background: #CFB6B6;
        background: #CFB6B6;
        background: #CF8282;
        background: #CFA4A4;
        background: #CFA4A4;
        background: #CFA4A4;
        background: linear-gradient(to right, #CFA4A4 0%, #400E05 92%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .page-title h1 {
        position: relative;
        padding-left: 30px;
        font-size: 40px;
        color: #f6e0b5;
        letter-spacing: 1px;
    }
    .intro p {
        position: relative;
        top: 10%;
        line-height: 2;
    }
}
