* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: auto;
    width: 95vw;
    background-color: #eea990;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #f6e0b5;
    border: 5px solid #dbc1ac;
    border-style: outset;
}

.navbar a + a {
    margin-left: 15px;
}

.navbar a {
    padding: 5px;
    float: left;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #b38b67;
    font-weight: 600;
}

.navbar a:hover {
    color: white;
}

.page-title {
    position: relative;
    padding-left: 30px;
    font-size: 50px;
    color: #f6e0b5;
    letter-spacing: 1px;
}

.list-items a {
    text-decoration: none;
    color: white;
    font-weight: light;
}

.list-items li {
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.list-items a:hover {
    color: #f6e0b5;
}


h2 {
    text-align: right;
    letter-spacing: 3px;
    font-size: 70px;
    font-weight: bolder;
    background: #CFA393;
    background: #ADCF97;
    background: #CFB6B6;
    background: #CFB6B6;
    background: #CF8282;
    background: #CFA4A4;
    background: #CFA4A4;
    background: #CFA4A4;
    background: linear-gradient(to right, #CFA4A4 0%, #400E05 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar {
    width: 160px;
    background-color: #aa6f73;
    position: fixed;
    border-style: double;
}

p {
    font-size: 20px;
}

pre {
    font-size: 16px;
}

.image-only {
    background-size: contain; 
    background-position: center; 
}

 img {
    max-width: 90%;
    max-height: 100%;
    border: 2px solid #f6e0b5;
}

.try-button {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    background-color: #66545e;
    border: none;
    border-radius: 20px;
    margin: 4px 4px;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.try-button a {
    text-decoration: none;
    color: white;
}

.try-button:hover {
    background-color: #eea990;
}

footer {
    text-align: center;
    padding-top: 15px;
}


@media screen and (min-width: 551px) and (max-width: 1076px) {
    .sidebar {
        width: 130px;
    }
    .columns-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    h2 {
        text-align: right;
        letter-spacing: 2px;
        font-size: 45px;
        font-weight: bolder;
        background: #CFA393;
        background: #ADCF97;
        background: #CFB6B6;
        background: #CFB6B6;
        background: #CF8282;
        background: #CFA4A4;
        background: #CFA4A4;
        background: #CFA4A4;
        background: linear-gradient(to right, #CFA4A4 0%, #400E05 85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .rawcode p, pre {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 550px) {
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        margin-right: 0px;
        padding: 3px;
        font-size: 15px;
        letter-spacing: 2px;
        background-color: #f6e0b5;
        border: 5px solid #dbc1ac;
        border-style: outset;
    }
    .columns-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 95vh;
        width: 55vw;
    }
    footer {
        letter-spacing: 0px;
        font-size: 15px;
    }
    p, pre {
        font-size: 12px;
    }
    img {
        max-width: 100%;
        max-height: 90%;
        border: 2px solid #f6e0b5;
    }
    .list-items li {
        padding-bottom: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    h2 {
        text-align: right;
        letter-spacing: 2px;
        font-size: 25px;
        font-weight: bolder;
        background: #CFA393;
        background: #ADCF97;
        background: #CFB6B6;
        background: #CFB6B6;
        background: #CF8282;
        background: #CFA4A4;
        background: #CFA4A4;
        background: #CFA4A4;
        background: linear-gradient(to right, #CFA4A4 0%, #400E05 92%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .page-title {
        position: relative;
        padding-left: 30px;
        font-size: 40px;
        color: #f6e0b5;
        letter-spacing: 1px;
    }
}
